[submodule "packages/ra-trader-be"]
	path = packages/ra-trader-be
	url = git@bitbucket.org:rapid-addition/ra-trader-be.git
	branch = .
[submodule "packages/ra-web-monitor-be"]
	path = packages/ra-web-monitor-be
	url = git@bitbucket.org:rapid-addition/ra-web-monitor-be.git
[submodule "packages/ra-web-platform-be"]
	path = packages/ra-web-platform-be
	url = git@bitbucket.org:rapid-addition/ra-web-platform-be.git
[submodule "packages/ra-web-forms-be"]
	path = packages/ra-web-forms-be
	url = git@bitbucket.org:rapid-addition/ra-web-forms-be.git
[submodule "packages/ra-web-bundle-be"]
	path = packages/ra-web-bundle-be
	url = git@bitbucket.org:rapid-addition/ra-web-bundle-be.git
