[submodule "packages/ra-trader-be"]
	path = packages/ra-trader-be
	url = git@bitbucket.org:rapid-addition/ra-trader-be.git
	branch = .
[submodule "packages/ra-trader-fe"]
	path = packages/ra-trader-fe
	url = git@bitbucket.org:rapid-addition/ra-trader-fe.git
	branch = .
