// Import library functions for theme creation.
@import '../../../node_modules/@angular/material/theming';
// Include non-theme styles for core.
@include mat-core();
// Define your application's custom theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

$force-indigo:mat-palette($mat-indigo);
$force-deep-purple:mat-palette($mat-indigo);
$force-pink:mat-palette($mat-indigo);
$force-purple:mat-palette($mat-indigo);
// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

.mat-card-header {
    background-color: mat-color($primary, A200);
}

.indigo-pink {
    // Define your application's custom theme.
    $primary: mat-palette($mat-indigo);
    $accent: mat-palette($mat-pink, A200, A100, A400);
    $theme: mat-light-theme($primary, $accent); // Include theme styles for Angular Material components.

    .mat-card-header {
        background-color: mat-color($primary, A200);
    }

    @include angular-material-theme($theme);
}

.deeppurple-amber {
    // Define your application's custom theme.
    $primary: mat-palette($mat-deep-purple);
    $accent: mat-palette($mat-amber);
    $theme: mat-light-theme($primary, $accent); // Include theme styles for Angular Material components.

    .mat-card-header {
        background-color: mat-color($primary, A200);
    }

    @include angular-material-theme($theme);
}

.pink-bluegrey {
    // Define your application's custom theme.
    $primary: mat-palette($mat-pink);
    $accent: mat-palette($mat-blue-grey);
    $theme: mat-dark-theme($primary, $accent); // Include theme styles for Angular Material components.

    .mat-card-header {
        background-color: mat-color($primary, A200);
    }

    @include angular-material-theme($theme);
}

.purple-green {
    // Define your application's custom theme.
    $primary: mat-palette($mat-purple);
    $accent: mat-palette($mat-green);
    $theme: mat-dark-theme($primary, $accent); // Include theme styles for Angular Material components.

    .mat-card-header {
        background-color: mat-color($primary, A200);
    }

    @include angular-material-theme($theme);
}

.green-orange {
    // Define your application's custom theme.
    $primary: mat-palette($mat-orange);
    $accent: mat-palette($mat-green);
    $theme: mat-dark-theme($primary, $accent); // Include theme styles for Angular Material components.

    .mat-card-header {
        background-color: mat-color($primary, A700);
    }

    @include angular-material-theme($theme);
}

.deeporange-brown {
    // Define your application's custom theme.
    $primary: mat-palette($mat-orange);
    $accent: mat-palette($mat-brown);
    $theme: mat-light-theme($primary, $accent); // Include theme styles for Angular Material components.

    .mat-card-header {
        background-color: mat-color($primary, A400);
    }

    @include angular-material-theme($theme);
}
