table {
    width: 100%;
}

::ng-deep .canceled {
    text-decoration: line-through;
}

:host-context(.green-orange) .font-blue ::ng-deep .mat-form-field-label,
:host-context(.pink-bluegrey) .font-blue ::ng-deep .mat-form-field-label,
:host-context(.purple-green) .font-blue ::ng-deep .mat-form-field-label {
    color:#19B5FE;
}

:host-context(.green-orange) .font-red ::ng-deep .mat-form-field-label,
:host-context(.pink-bluegrey) .font-red ::ng-deep .mat-form-field-label,
:host-context(.purple-green) .font-red ::ng-deep .mat-form-field-label {
    color: #f5475b;
}

