.fixed-header {
    top: 0;
    position: fixed;
    z-index: 999;
}

.margin-header {
    margin-top: 48pt;
}

.header-controls {
    .user-name {
        margin-right: 50px;
        font-size: 14px;
    }
}

.ra-logo {
    img {
        border: none;
        width: 50px;
        height: 50px;
    }
}

.slash-separator {
    margin-left: 5px;
    margin-right: 5px;
}
