/* You can add global styles to this file, and also import other style files */

@import "../../../node_modules/angular2-toaster/toaster.css";
@import "../../../node_modules/ng-pick-datetime/assets/style/picker.min.css";
@import "~golden-layout/src/css/goldenlayout-base.css";
@import "~golden-layout/src/css/goldenlayout-dark-theme.css";
@import "../../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../../node_modules/ag-grid-community/dist/styles/ag-theme-dark.css";

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;

}

.detail-card {
    margin-bottom: 10pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-card-header {
    color: white;
    margin-bottom: 4px;
    height: 24px;

    .mat-icon {
        font-size: 16px;
    }

    .mat-icon-button {
        height: 16px;
        width: 16px;
        line-height: 16px;
        margin-right: 8px;
    }
}

.mat-card-title {
    display: block;
    font-size: 16px !important;
    margin-bottom: 0px;
}

.mat-card-content,
.allGrid {
    height: calc(100% - 23px);
}

.mat-card {
    padding-bottom: 32px;
    height: calc(100% - 23px);
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

body {
    background-color: black !important;
}

.rapid-body {
    background-color: #001436 !important;
    overflow: hidden;
}

.ag-theme-dark .ag-cell-data-changed {
    background-color: chocolate !important;
}

.ag-theme-dark .ag-cell-data-changed-animation {
    animation: blinker 1s linear 4;
}

.ag-theme-dark .ag-header-select-all {
    margin-left: -4px;
}

.blink_me {
    animation: blinker 1s linear 4;
}

@keyframes blinker {
    0% {
        background-color: rgba(224, 75, 112, 0.79);
    }

    100% {
        background-color: rgba(235, 231, 26, 0.736);
    }
}

.clicked {
    color: red !important;
    ;
}

.dx-datagrid-rowsview .editable-td {
    background-color: #ff9800 !important;
}

.dx-datagrid .dx-row>td,
.dx-datagrid .dx-row>tr>td {
    padding: 2px;
}

tr.dx-header-row td:first-child {
    padding-right: 0px !important;
}

.ra-checkbox {
    padding-left: 7px !important;
    padding-right: 1px !important;
}

.dx-header-filter {
    color: #F44335 !important;
}

.dx-header-filter-empty {
    color: #c1c1c1 !important;
}

html {
    overflow-y: hidden;
    height: calc(100% - 32pt);
}

.lm_content {
    overflow: auto;
}

tr.highlightColor,
div.ag-row-selected {
    font-weight: bold;
    // border-top-color: rgb(252, 164, 2) !important;
    // border-top-style: solid !important;
    // border-top-width: 1px !important;
    border-bottom-color: black !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
    opacity: 0.8;
}

.highlightColor>td,
.ag-row-selected>div {
    font-weight: bold;
}

.zoom-12 {
    zoom: 1.2;
}

.zoom-11 {
    zoom: 1.1;
}

.zoom-1 {
    zoom: 1;
}

.zoom-09 {
    zoom: 0.9;
}

.zoom-08 {
    zoom: 0.8;
}
